<!DOCTYPE html>

<html>
    <head>
        <title>Magic Mirror</title>
        <link rel="stylesheet" href="" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
        <link href="css/global.css" rel="stylesheet" />
    </head>
    <body id="dark">
        @RenderBody()
        @RenderSection("Scripts")
    </body>
</html>